.subscribe {
	margin: 50px 0;
	padding-bottom: 75px;

	&__container {
		position: relative;

		@media screen and (max-width: 1279px) {
			padding-right: 40px;
		}

		@media screen and (max-width: 767px) {
			padding-right: 20px;
		}

		&:after {
			content: '';
			background-image: url('../assets/subscribe-decor.svg');
			position: absolute;
			display: block;
			width: 153px;
			height: 166px;
			bottom: -75px;
			right: -105px;
		}
	}

	&__content {
		background-color: var(--color-light-violet);
		border-radius: 129px 20px 20px 20px;
		padding: 80px 70px;
		position: relative;

		@media screen and (max-width: 767px) {
			padding: 50px 25px;
		}
	}

	&__content-icon {
		width: 70px;
		height: 70px;
		border-radius: 100%;
		background: linear-gradient(201.65deg, #747def 10.27%, #5e3be1 100%);
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		right: -30px;
		top: -15px;

		@media screen and (max-width: 767px) {
			width: 50px;
			height: 50px;
			right: -10px;
		}

		svg {
			@media screen and (max-width: 767px) {
				width: 30px;
				height: 30px;
			}
		}
	}

	&__decor {
		position: absolute;
		opacity: 10%;
		z-index: -1;

		svg {
			fill: none;
			stroke: var(--color-viole);
		}
	}

	&__decor--left {
		bottom: 0;
		left: 0;
	}

	&__decor--right {
		right: 0;
		top: 0;
	}

	&__title {
		font-weight: var(--fw-bold);
		font-size: 33px;
		color: var(--color-text);
		line-height: 54px;
		text-align: center;

		@media screen and (max-width: 767px) {
			font-size: 28px;
			line-height: 1.5;
		}
	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 25px;
		margin-top: 65px;

		@media screen and (max-width: 767px) {
			flex-direction: column;
		}
	}

	&__field-wrapper {
		position: relative;
		max-width: 420px;
		width: 100%;
	}

	&__field-icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 30px;

		svg {
			display: block;
		}
	}

	&__field {
		background-color: var(--color-white);
		border-radius: var(--btn-radius);
		border: none;
		line-height: 24px;
		padding: 22px 15px 22px 65px;
		outline-color: var(--color-main);
		width: 100%;
	}

	&__button {
		cursor: pointer;
		min-width: 180px;
		min-height: 68px;
	}
}
