:root {
	--color-main: #39425d;
	--color-dark-text: #181e4b;
	--color-text: #5e6282;
	--color-yellow: #f1a501;
	--color-orange: #df6951;
	--color-white: #fff;
	--color-viole: #6246e5;
	--color-light-violet: rgba(223, 215, 249, 0.2);
	--typo-1: 'Poppins', sans-serif;
	--typo-2: 'Volkhov', serif;
	--fw-medium: 500;
	--fw-bold: 700;
	--btn-radius: 10px;
}
